extends layout

block content

  div
    h1.page-title= title


  div.container-fluid
    
    div.row
      for article, index in articles
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
          div.card
              img.card-img(src='#{article.imgUrl}', alt='Card image cap')
              div.card-body
                  h4.card-title #{article.title}
                  p.card-text(style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 75ch;') #{article.desc}
                  a(href='#') See More

                  hr
                  div
                      if article.score > 30
                          div
                              span fake-o-meter: probably fake =/
                          .progress(style='margin-top: 10px')
                              .progress-bar.bg-danger(role='progressbar',
                                  style='width: #{article.score}%', aria-valuenow='#{article.score}', 
                                  aria-valuemin='0', aria-valuemax='100') #{article.score}%

                          .btn-group(role='group', aria-label='Basic', style="margin-top: 15px;")
                              button.rate-positive.btn.btn-outline-primary.btn-sm.hand(type='button' name='opinion#{index}', data-url="#{article.originUrl}") This article is actually real
                              button.rate-negative.btn.btn-outline-danger.btn-sm.hand(type='button' name='opinion#{index}', data-url="#{article.originUrl}") Agreed. It's fake
                              button.detail.btn.btn-outline-info.btn-sm.hand(type='button' name='detail#{index}', data-index="#{index}") Why is it fake?
                          .btn-group(role='group', aria-label='Basic', style="margin-top: 15px;")
                      else
                          div
                              span fake-o-meter: article verified! 
                              img(src="/images/verified.png", width="20", height="20", title="verified!")

                          .btn-group(role='group', aria-label='Basic', style="margin-top: 15px;")
                              button.rate-positive.btn.btn-outline-primary.btn-sm.hand(type='button' name='opinion#{index}', data-url="#{article.originUrl}") Agreed. It's real
                              button.rate-negative.btn.btn-outline-danger.btn-sm.hand(type='button' name='opinion#{index}', data-url="#{article.originUrl}") This article is actually fake
                              button.detail.btn.btn-outline-info.btn-sm.hand(type='button' name='detail#{index}', data-index="#{index}") Why is it real?
                          .btn-group(role='group', aria-label='Basic', style="margin-top: 15px;")
                          

  script(src='/javascripts/news.js')
