extends layout

block content
  br

  div
    h1.page-title= title
  br

  div.container-fluid
    br
    div.row
      for article, index in articles
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
          div.card
              hr
              img.card-img(src='#{article.imgUrl}', alt='Card image cap')
              div.card-body
                  h4.card-title #{article.title}
                  p.card-text(style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 75ch;') #{article.desc}
                  a(href='#') Ler mais
                  div
                      .progress(style='margin-top: 10px')
                          .progress-bar.bg-danger(role='progressbar',
                              style='width: #{article.score}%', aria-valuenow='#{article.score}', 
                              aria-valuemin='0', aria-valuemax='100') #{article.score}%
                      .btn-group(role='group', aria-label='Basic', style="margin-top: 15px;")
                          button.rate-positive.btn.btn-outline-primary.btn-sm.hand(type='button' name='opinion#{index}', data-url="#{article.originUrl}") This article is actually legit
                          button.rate-negative.btn.btn-outline-danger.btn-sm.hand(type='button' name='opinion#{index}', data-url="#{article.originUrl}") Agreed. It's fake
                      .btn-group(role='group', aria-label='Basic', style="margin-top: 15px;")
                          button.detail.btn.btn-outline-info.btn-sm.hand(type='button' name='detail#{index}', data-index="#{index}") Details

  script(src='/javascripts/news.js')
